body {
  height: 100%;
  background-image: url('http://www.hdfondos.org/file/17849/728x410/16:9/new-york-manhattan-wall-street_806041814.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-styles {
  margin: 0px;
}
.banner-styles {
  width: 100%;
  height: 200px;
  background-color: white;
  margin: 0px;
}
.banner-h1-styles {
  margin: 0px;
  padding: 10% 0% 0% 0%;
}
.footer-styles {
  margin-bottom: 0px;
}
// .parallax {
//   /* The image used */
//   background-image: url('http://www.hdfondos.org/file/17849/728x410/16:9/new-york-manhattan-wall-street_806041814.jpg');

//   /* Full height */
//   height: 100%; 

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }