body, html {
  height: 100%;
}
.logo { margin: 0;
background-color: red;}
.parallax {
  /* The image used */
  background-image: url('http://www.hdfondos.org/file/17849/728x410/16:9/new-york-manhattan-wall-street_806041814.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}