* {
    font-family: 'Didact Gothic', sans-serif;
  }
  body {
    height: 100%;
    background-color: white !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  //navbar scss
  .cc-navbar {
    background-color: #6D1DD3 !important;
  }
  .cc-navlink {
    color: white !important;
  }
  .reset-password-button {
    display: inline-block;
    margin-left: 30px;
    margin-right: auto;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1DD36C;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#1DD36C, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

// Footer scss
  .footer-styles{ 
    position:absolute; 
    bottom:1; 
    width:100%; 
    height:100px;
    background-color: #6D1DD3 !important;
  }
  .jumbotron-footer-styles {
      color: white;
      background-color: #6D1DD3 !important;
      text-align:center;
  }

  .mailto-styles:hover {
    color: #1DD36C;
    text-decoration: none;
}
.social-icon-styles {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    width: 2.5rem;
}
.logo-styles {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}