.passwordResetEmailSent{
    background-color: white;
}
.container-EmailSent{
    display: block;
text-align: center;

}

.get-started-text {
  color: #6D1DD3;
}

.breakLine {
    border-bottom: 2px solid #1DD36C ;
    width: 60px;
    display: inline-block;
}

.reset-password-email-sent-botton-styles {
    display: inline-block;
    margin-left: 30px;
    margin-right: auto;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1DD36C;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#1DD36C, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}

.email-sent-icon {
    width: 10%;
}