body {
    background-color: #E5E5E5;
}
.card {
    position:relative;
    top:10%;
    left:50%;
    transform:translate(-50%);
    margin: 64px 0px;
    border:#DEDEDE;
}
.sign-in-botton-styles {
    border:#DEDEDE;
}